<style>* {
    box-sizing: border-box;
}

body {
    animation: slideInUp 2s ease 1s;
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    font-family: Helvetica, Verdana, sans-serif;
    color: ghostwhite;
}
.content:hover {
    /*-webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);*/
}
.col-1 {
    text-align: center;
    opacity: 0.0;
    animation: myAnimation 6s ease 1s 3 alternate forwards;
    background: #395151;
    flex: 1;
}

li {
    list-style-type: none;
    padding-top: 50px;
    padding-right: 10px;
}
ul {
    display:flex;
    flex-direction:row;
    list-style-type: none;
    /*overflow: hidden;*/
    margin: 0;
    padding-bottom: 10px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}
a {
    display: inline-block;
    padding: 5px;
    color: white;
    font-family: Euphemia, Helvetica, Times New Roman, sans-serif;
    text-decoration: none;
    float: right;
}
    a:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        color: darksalmon;
    }
img {
    display: flex;
    -webkit-filter: sepia(.5);
    filter: sepia(.5);

}
    img:hover {
        -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
        opacity: 0.5;
    }
#rabbit-2 {
    margin-top: 25px;
    width: 293px;
    height: auto;
    border: 3px solid #e2deae;
}
#rabbit-1 {
    border: 3px solid #e2deae;
}

.col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
}

.content {
    display: flex;
    flex-direction: row;
    background-color: #51442e;
}

.content > article {
     flex: 4;
     justify-content: center;
     min-height: 60vh;
    }

header, footer {
    background: #9b8d74;
    height: 20vh;
}

h5 {
    animation: rubberBand 6s ease 1s /*3 alternate forwards*/;
    font-family: Euphemia;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header, footer, article, nav {
    padding: 1em;
}

@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInUp {
    animation-name: slideInUp;
}

@keyframes rubberBand {
    from {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    to {
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    animation-name: rubberBand;
}

@keyframes myAnimation {
    100% {
        opacity: 1.0;
    }
</style>